header{
    background-color: #00004C;
    padding: 40px;
}

h1{
   font-size: 90px;   
}

header img{
	border-radius: 150px;
	
}	
 /*<header>
            <img class="big-image" src="profile.jpg">
            <h1 style="font-color: blue;font-size:90 px;">Wonder Woman of Studies:Fatima-Al-Fihri</h1>
        </header>*/